.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

#timelinePage {
  display: grid;
  grid-template-columns: 1fr 1.4fr 1fr;
}
#friendsPage {
  display: grid;
  grid-template-columns: 1fr;
  margin: 10px;
}

.FriendRequestContainer {
  display: grid;
  grid-template-areas:
    'avatar user        user'
    'avatar groupAvatar groupAvatar'
    'avatar confirmBtn  deleteBtn';
  gap: 10px;
  padding: 10px;
  width: fit-content;
}
.allFriendsContent > div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}
.FriendRequestItem1 {
  grid-area: avatar;
}
.FriendRequestItem2 {
  grid-area: user;
  font-weight: bold;
  font-size: x-large;
}
a {
  text-decoration: none;
  color: inherit;
}

.FriendRequestItem3 {
  justify-self: flex-start;
  grid-area: groupAvatar;
}
.FriendRequestItem4 {
  grid-area: confirmBtn;
}
.FriendRequestItem5 {
  grid-area: deleteBtn;
}

#profilePage {
  display: grid;
  grid-template-columns: 1fr;
}
.profilePageBanner {
  display: grid;
  grid-template-columns: 1fr 1.4fr 1fr;
  background-color: white;
  margin-bottom: 3rem;
}
.profileBannerContent {
  grid-column: 2;
  display: grid;
  grid-template-areas: 'pic null' 'friends friends' 'btn btn';
  max-width: fit-content;
  align-items: center;
  gap: 10px;
}
.profilePicAvatarName {
  grid-area: pic;
  text-align: end;
  max-width: fit-content;
}
.profilePic > div > span:nth-child(2) {
  bottom: 2rem;
}
.profileFriends {
  grid-area: friends;
  display: grid;
  justify-items: flex-start;
}
.friendRequestBtns {
  /* grid-row: 3; */
  grid-area: btn;
  padding: 10px;
}

.profilePosts {
  display: grid;
  grid-template-columns: 1fr 1.4fr 1fr;
}
.profilePosts > div {
  grid-column: 2;
}

.post {
  border: 1px solid #ccc;
}
.commentContainer {
  width: 100%;
}
.commentBox {
  width: 95%;
}
.postWriteComment {
  width: 100%;
}

.likecommentContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.postLikes {
  justify-self: start;
  padding-left: 10px;
  font-family: 'Helvetica', 'Arial', 'sanss-erif';
  color: grey;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}
.postComments {
  justify-self: end;
  padding-right: 10px;
  font-family: 'Helvetica', 'Arial', 'sanss-erif';
  color: grey;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

.logo {
  /* height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms; */
}
.logo:hover {
  /* filter: drop-shadow(0 0 2em #646cffaa); */
}
.logo.react:hover {
  /* filter: drop-shadow(0 0 2em #61dafbaa); */
}

/* Desktop-specific */
@media screen and (min-width: 769px) {
  .postImage {
    height: 35rem;
  }
}

/* mobile-specific */
@media screen and (max-width: 768px) {
  #timelinePage {
    grid-template-columns: 1fr;
  }

  .allFriendsContent > div {
    grid-template-columns: 1fr;
  }

  .profilePageBanner {
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    justify-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .profileBannerContent {
    grid-column: 1;
    display: grid;
    grid-template-areas: 'pic' 'name' 'friends' 'btn';
    justify-items: center;
  }
  .profileName {
    grid-area: name;
  }

  .profilePosts {
    grid-template-columns: 1fr;
  }
  .profilePosts > div {
    grid-column: 1;
  }
}
