#timelinePage {
  display: grid;
  grid-template-columns: 1fr 1.4fr 1fr;
}
.post {
  border: 1px solid #ccc;
  /* height: 50rem; */
}
.commentContainer {
  width: 100%;
}
.commentBox {
  width: 95%;
}
.postWriteComment {
  width: 100%;
}

.likecommentContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.postLikes {
  justify-self: start;
  padding-left: 10px;
}
.postComments {
  justify-self: end;
  padding-right: 10px;
}

.logo {
  /* height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms; */
}
.logo:hover {
  /* filter: drop-shadow(0 0 2em #646cffaa); */
}
.logo.react:hover {
  /* filter: drop-shadow(0 0 2em #61dafbaa); */
}

/* Desktop-specific */
@media screen and (min-width: 769px) {
  .postImage {
    height: 35rem;
  }
}

/* mobile-specific */
@media screen and (max-width: 768px) {
  #timelinePage {
    grid-template-columns: 1fr;
  }
  .postWriteComment {
  }
}
