.FriendRequestContainer {
  display: grid;
  grid-template-areas:
    'avatar user        user'
    'avatar groupAvatar groupAvatar'
    'avatar confirmBtn  deleteBtn';
  gap: 10px;
  padding: 10px;
}

.FriendRequestItem1 {
  grid-area: avatar;
}
.FriendRequestItem2 {
  grid-area: user;
  font-weight: bold;
  font-size: x-large;
}
a {
  text-decoration: none;
  color: inherit;
}

.FriendRequestItem3 {
  grid-area: groupAvatar;
}
.FriendRequestItem4 {
  grid-area: confirmBtn;
}
.FriendRequestItem5 {
  grid-area: deleteBtn;
}
